<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.finalpj.repository.GroupDAO">
	<insert id="insertGrp">
		insert into smallgroup(name, max_member, detail, ctno, isFree, isFace, city, county, email, code) values(#{name}, #{max_member}, #{detail}, #{ctno}, #{isFree}, #{isFace}, #{city}, #{county}, #{email}, #{code})
	</insert>
	<select id="selectGrp" resultType="com.ezen.finalpj.domain.GroupVO">
		select * from smallgroup where grno=#{grno}
	</select>
	<select id="selectGrnoGrp" resultType="int">
		select grno from smallgroup where email=#{email}
	</select>
	<insert id="insertSgMain">
		insert into sgmain(grno, size, name, dir, uuid) values(#{grno}, #{size}, #{name}, #{dir}, #{uuid})
	</insert>
	<select id="selectSgMain" resultType="com.ezen.finalpj.domain.SgMainVO">
		select * from sgmain where grno=#{grno}
	</select>
	<delete id="deleteSgMain">
		delete from sgmain where grno=#{grno}
	</delete>
	
	<select id="CategoryOne" resultType="com.ezen.finalpj.domain.GroupVO">
		select * from smallgroup where code=#{code};
	</select>
	
	<select id="selectGrpList" resultType="com.ezen.finalpj.domain.GroupVO">
		select * from smallgroup 
	</select>
	
	<delete id="deleteGrpList">
		delete from smallgroup where grno=#{grno}
	</delete>
</mapper>