<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.ezen.finalpj.repository.SgmainDAO">
	<select id="getSgMainImg" resultType="com.ezen.finalpj.domain.SgMainVO"> 
	select 
		S.uuid, S.dir, S.name, SG.grno, SG.name AS sg_name, SG.detail, SG.city, SG.county 
		from smallgroup SG 
		left join sgmain S 
		on S.grno = SG.grno 
	</select>
	
	

</mapper>