<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ezen.finalpj.repository.UserDAO">
	<resultMap type="com.ezen.finalpj.domain.UserVO" id="test">
		<result property="email" column="email"/>
		<result property="name" column="name"/>
		<result property="pw" column="pw"/>
		<result property="area" column="area"/>
		<result property="nickname" column="nickname"/>
		<result property="age" column="age"/>
		<result property="gender" column="gender"/>
		<result property="phone" column="phone"/>
		<result property="isDel" column="isDel"/>
		<result property="ctno_1" column="ctno_1"/>
		<result property="ctno_2" column="ctno_2"/>
		<result property="ctno_3" column="ctno_3"/>
		<result property="isCap" column="isCap"/>
		<collection property="waitList" column="email=email" javaType="List" ofType="WaitingVO" select="selectOnlyUser"></collection>
	</resultMap>
	<select id="getUser" resultType="com.ezen.finalpj.domain.UserVO">
		select * from user where email=#{email}
	</select>
	
	<select id="pageCount" resultType="int">
		select count(email) from user
	</select>
	
	<!-- <select id="selectWaitingList" resultType="com.ezen.finalpj.domain.UserVO" resultMap="test">
		select * from user
	</select>
	
	<select id="selectMemberList" resultType="com.ezen.finalpj.domain.UserVO">
		select * from user
	</select> -->
	
	<select id="selectOnlyUser" resultType="com.ezen.finalpj.domain.UserVO" resultMap="test">
		select * from user join waiting on user.email=waiting.email where isOk=0 and grno=#{isCap}
	</select>
	
</mapper>